<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Standard Meta -->
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

		<title>Portfolio of Daniel C Swain - Freelance Developer</title>
		<meta name="keywords" content="Daniel Swain, Daniel, Swain, Daniel C Swain, programmer, freelance, freelancer, programming, developer, Loyalist, Android, Ruby, Django, www.KFL.com.au, www.StevenCJones.com.au, WSP, Parsons Brinckerhoff, projects, application, applications, app">

		<meta name="description" content="Daniel Swain is a freelance developer based in Western Australia. Currently enamored with Ruby and Rails, he's released Android and Enterprise applications and also built various responsive websites using Django.">
		
		<meta name="author" content="Daniel Swain">
		
		<link rel="shortcut icon" type="image/png" href="http://danielcswain.s3.amazonaws.com/images/favicon.png"/>
		
		<!-- Stylesheets -->
		<link rel="stylesheet" type="text/css" href="/static/css/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="/static/css/master.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	</head>
	<body class="pushable" >
		
		<!-- Sidebar Menu -->
		<div class="ui vertical inverted sidebar menu">
			<a class="item" href="#">Home</a>
			<a class="item" href="#Projects">Projects</a>
			<a class="item" href="#Contact">Contact</a>
		</div> <!-- End Sidebar Menu -->

		<!-- Main Page Contents, placed in a pusher so the sidebar moves it all to one side -->
		<div class="pusher">
			<!-- Main Page Header -->
			<div class="ui inverted vertical masthead center aligned segment">
				<div class="ui container">
					<div class="ui large secondary inverted pointing main menu hideable">
						<a class="toc item">
							<i class="fa fa-bars"></i>
						</a>
						<a class="active item" href="#">Home</a>
						<a class="item" href="#Projects">Projects</a>
						<a class="item" href="#Contact">Contact</a>
					</div>
				</div>

				<div class="ui text container">
					<h1 class="ui inverted header">
						Daniel Swain
					</h1>
					<h2>Freelance Developer</h2>
				</div>
			</div> <!-- End Main Page Header -->
			
			<!-- Main-content tag used to stick 'too-top' button to the container. This contains all the main 'non-header' content.-->
			<div id="main-content">
				<!-- To top button, attached to an internal rail so it sits over content2-->
				<div class="right ui internal rail ">
					<div class="ui sticky hidden">
						<a href="#"><i class="fa fa-angle-double-up fa-2x"></i></a>
					</div>
				</div>
				
				<section id="Projects">
					<!-- Projects, tabbed pagination. -->
					<div class="ui vertical-padding-top" >
						<div class="vertical-padding">
							<div class="ui middle aligned stackable grid container">
								<h1 class="ui huge header centered row">
									<span class="middle aligned"><i class="fa fa-code"></i> Projects</span>
								</h1>
							</div>
						</div>
						<!-- The Projects menu tab controls -->
						<div class="ui middle aligned stackable grid container">
							<div class="ui centered pointing secondary tabular menu row">
								<a class="red item" data-tab="first">Ruby</a>
								<a class="green item" data-tab="second">Django</a>
								<a class="active blue item" data-tab="third">Android</a>
								<a class="brown item" data-tab="forth">Enterprise</a>
							</div>
						</div>
						<div class="vertical-padding">
							<div class="ui middle aligned stackable grid container">					
								<!-- Ruby Tab -->
								<div class="ui tab" data-tab="first">
									<!-- Ruby Tab Container -->
									<div class="ui middle aligned stackable grid container">
										<!-- First Ruby App -->
										<!-- The Header row -->
										<div class="vertical-padding">
											<div class="ui grid container">
												<div class="ui clearing centered sixteen wide column">
													<h3 class="ui left floated header">
														<div class="content">
															<a href="https://github.com/ulternate/slackCAH">SlackCAH</a>
															<div class="small sub header">Play Cards Against Humanity with your Slack team</div>
														</div>
													</h3>
													<h3 class="ui right floated header">
														<div class="content">
															<div class="small sub header">2016</div>
														</div>
													</h3>
												</div>
											</div>
										</div> <!-- End Header Row -->
										
										<!-- The Images row -->
										<div class="vertical-padding">
											<div class="ui grid container">
												<div class="five wide computer sixteen wide tablet sixteen wide mobile column">
													<img src="/static/img/slackCAH_game.png" alt="SlackCAH Game" class="ui image" data-modal="ruby-modal-1" id="call-ruby-modal-1">
												</div>
												<div class="five wide computer sixteen wide tablet sixteen wide mobile column">
													<img src="/static/img/slackCAH_commands.png" alt="SlackCAH Commands" class="ui image" data-modal="ruby-modal-2" id="call-ruby-modal-2">
												</div>
												<div class="five wide computer sixteen wide tablet sixteen wide mobile column">
													<img src="/static/img/slackCAH_readme.png" alt="SlackCAH ReadMe" class="ui image" data-modal="ruby-modal-3" id="call-ruby-modal-3">
												</div>
											</div>
										</div> <!-- End Images Row -->
										
										
										<!-- Divider -->
										<div class="row ui divider"></div>
										
										<!-- The descriptive content and quotes -->
										<div class="vertical-padding">
											<!-- Text block under the images -->
											<div class="ui centered grid container">
												<!-- The description -->
												<div class="centered sixteen wide computer sixteen wide tablet sixteen wide mobile column">
													<p>
														To improve my Ruby skills for my Diploma studies, and because the Diploma team was using Slack to communicate, I built a SlackBot to play Cards Against Humanity, and then posted it on <a href="https://github.com/ulternate/slackCAH">GitHub</a>
													</p>
													<p>
														I built the game-logic / commands whilst using <a href="https://github.com/dblock/slack-ruby-bot">slack-ruby-bot</a> to handle the connection to our Slack board. The bot works on Heroku, allowing team members to play whenever they want.
													</p>
													<p>
														Players can start a game with designated players, pick their card(s) to play each round and reprompt the bot if they've forgotten their cards or the question. The bot can also show the status of other players so you can nag them to play/pick, it can tell you the currenty points tally and quit/restart the game on your command. One player each round is the card czar responsible for picking the winning hand, they aren't allowed to play their own hand that round.
													</p>
													<p>
														I've created a <a href="https://github.com/ulternate/slackCAH/blob/master/README.md">configuration guide</a> to help others set it up on their own Slack Team and channel. The guide also includes installation information for running the bot on Heroku. For more info about the bot, see my repository on <a href="https://github.com/ulternate/slackCAH">GitHub</a>.
													</p>
												</div>
											</div>
										</div> <!-- End Descriptions and Quotes --> <!-- END FIRST RUBY APP -->
									</div> <!-- End Ruby Tab Container -->
								</div> <!-- End Ruby Tab -->

								<!-- Django Tab -->
								<div class="ui tab container" data-tab="second">
									<!-- Web Tab Container -->
									<div class="ui middle aligned stackable grid container">
										<!-- First WEB SITE -->
										<div>
											<div class="vertical-padding">
												<!-- The Header row -->
												<div class="ui grid container">
													<div class="ui clearing centered sixteen wide column">
														<h3 class="ui left floated header">
															<div class="content">
																<a href="http://www.kfl.com.au">KFL.com.au</a>
																<div class="small sub header">An Australian Rules Football Fantasy League homepage</div>
															</div>
														</h3>
														<h3 class="ui right floated header">
															<div class="content">
																<div class="small sub header">2015 - 2016</div>
															</div>
														</h3>
													</div>
												</div>	
											</div>

											<div class="vertical-padding">
												<!-- The Images row -->
												<div class="ui grid container">
													<div class="five wide computer sixteen wide tablet sixteen wide mobile column">
														<img src="/static/img/kfl_main.png" alt="KFL Main Page" class="ui image" data-modal="django-modal-1" id="call-django-modal-1">
													</div>
													<div class="five wide computer sixteen wide tablet sixteen wide mobile column">
														<img src="/static/img/kfl_comments.png" alt="KFL Comments" class="ui image" data-modal="django-modal-2" id="call-django-modal-2">
													</div>
													<div class="five wide computer sixteen wide tablet sixteen wide mobile column">
														<img src="/static/img/kfl_news.png" alt="KFL News" class="ui image" data-modal="django-modal-3" id="call-django-modal-3">
													</div>
												</div>
											</div>
											
											<!-- Divider -->
											<div class="row ui divider"></div>	

											<div class="vertical-padding">
												<!-- The descriptive content and quotes -->
												<!-- Text block under the images -->
												<div class="ui centered grid container">
													<!-- The description -->
													<div class="centered ten wide computer sixteen wide tablet sixteen wide mobile column">
														<p>
															The <a href="http://www.kfl.com.au">KFL</a> is a local Australian Rules Football fantasy league which had been running a simple website since the 2014 AFL Season.
														</p>
														<p>
															I was approached to improve the functionality of their website, support more screen sizes, allow user sign-up and add team selection for their upcoming 2016 competition. The user sign-up and team selection was desired to enable competitors to play without having to email their team selections through to an admin.
														</p>
														<p>
															In previous seasons the site content was edited by manually editing html files as such the client's main request was to be able to easily update the site. I rebuilt the site using Django for dynamically serving content and enabling updates through an admin console. I also used Bootstrap as a base to support mobile and tablet screen sizes.
														</p>
														<p>
															The site was finished ahead of schedule, giving the client ample time to prepare for the 2016 AFL season.
														</p>
													</div>
													<!-- Quotes -->
													<div class="centered six wide computer sixteen wide tablet sixteen wide mobile column">
														<div class="row container">
															<h3 class="ui header">
																<div class="content">
																	"ENTER_FIRST QUOTE_HERE"
																</div>
																<div class="medium sub header">
																	ENTER_QUOTE SOURCE_HERE
																</div>
															</h3>
														</div>
														<div class="vertical-padding">
															<div class="row container">
																<h3 class="ui header">
																	<div class="content">
																		"ENTER_SECOND QUOTE_HERE"
																	</div>
																	<div class="medium sub header">
																		ENTER_QUOTE SOURCE_HERE
																	</div>
																</h3>
															</div>
														</div>
													</div> <!-- End Quotes -->
												</div> 
											</div> <!-- End Description Block -->
										</div> <!-- END FIRST WEB SITE -->
										
										<!-- Divider -->
										<div class="vertical-padding">
											<div class="row ui divider"></div>
										</div>
										
										<!-- SECOND WEB SITE -->
										<div>
											<div class="vertical-padding">
												<!-- The Header row -->
												<div class="ui grid container">
													<div class="ui clearing centered sixteen wide column">
														<h3 class="ui left floated header">
															<div class="content">
																<a href="http://www.stevencjones.com.au">StevenCJones.com.au</a>
																<div class="small sub header">A landing page for a local wedding/portrait photographer hosted on Google App Engine</div>
															</div>
														</h3>
														<h3 class="ui right floated header">
															<div class="content">
																<div class="small sub header">2015</div>
															</div>
														</h3>
													</div>
												</div>
											</div>
											
											<div class="vertical-padding">
												<!-- The Images row -->
												<div class="ui grid container">
													<div class="five wide computer sixteen wide tablet sixteen wide mobile column">
														<img src="/static/img/stevencjones_modal.png" alt="Steven Jones Modals" class="ui image" data-modal="django2-modal-1" id="call-django2-modal-1">
													</div>
													<div class="five wide computer sixteen wide tablet sixteen wide mobile column">
														<img src="/static/img/stevencjones_main.png" alt="Steven Jones Main Page" class="ui image" data-modal="django2-modal-2" id="call-django2-modal-2">
													</div>
													<div class="five wide computer sixteen wide tablet sixteen wide mobile column">
														<img src="/static/img/stevencjones_photos.png" alt="Steven Jones Photos" class="ui image" data-modal="django2-modal-3" id="call-django2-modal-3">
													</div>
												</div>
											</div>
											
											<!-- Divider -->
											<div class="row ui divider"></div>

											<div class="vertical-padding">
												<!-- The descriptive content and quotes -->
												<!-- Text block under the images -->
												<div class="ui centered grid container">
													<!-- The description -->
													<div class="centered ten wide computer sixteen wide tablet sixteen wide mobile column">
														<p>
															A local wedding/portrait photographer requested a simple landing page to develop his web presence and show his latest photoshoots.
														</p>
														<p>
															He wanted the page to be clean, simple and needed the site to be live that weekend to coordinate the launch with his new Facebook business page.
														</p>
														<p>
															From the initial discussions at a lunch meeting the site was built and hosted, via Google App Engine, by the end of the day 5 hours later. <a href="http://www.stevencjones.com.au">Stevencjones.com.au</a> was live in time for the launch of the client's new Facebook business page.
														</p>
														<p>
															The photo portfolio shows low resolution images on page load, however clicking on an image brings up a slideshow showing off the high resolution photo's to potential customers. Bootstrap was used to achieve a responsive layout across desktop, tablet and mobile devices.
														</p>
													</div>
													<!-- The quotes -->
													<div class="centered six wide computer sixteen wide tablet sixteen wide mobile column">
														<div class="row">
															<h3 class="ui header">
																<div class="content">
																	"ENTER_FIRST QUOTE_HERE"
																</div>
																<div class="medium sub header">
																	ENTER_QUOTE SOURCE_HERE
																</div>
															</h3>
														</div>
														<div class="vertical-padding">
															<div class="row">
																<h3 class="ui header">
																	<div class="content">
																		"ENTER_SECOND QUOTE_HERE"
																	</div>
																	<div class="medium sub header">
																		ENTER_QUOTE SOURCE_HERE
																	</div>
																</h3>
															</div>
														</div>
													</div> <!-- End Quote Block -->
												</div>
											</div> <!-- End Description Block -->
										</div> <!-- END SECOND WEB SITE -->			
									</div> <!-- End Web Tab Container -->
								</div> <!-- End Django Tab -->
								
								<!-- Android Tab -->
								<div class="ui active tab" data-tab="third">
									<!-- Android Tab Container -->
									<div class="ui middle aligned stackable grid container">
										<!-- First Android App -->
										<div>
											<!-- The Header row -->
											<div class="vertical-padding">
												<div class="ui grid container">
													<div class="ui clearing centered sixteen wide column">
														<h3 class="ui left floated header">
															<div class="content">
																Loyalist
																<div class="small sub header">A Loyalty card application for Android</div>
															</div>
														</h3>
														<h3 class="ui right floated header">
															<div class="content">
																<div class="small sub header">2014 - 2016</div>
															</div>
														</h3>
													</div>
												</div>
											</div> <!-- End Header Row -->
											
											<!-- The Images row -->
											<div class="vertical-padding">
												<div class="ui grid container">
													<div class="three wide computer eight wide tablet eight wide mobile column">
														<img src="/static/img/loyalist_app_1_small.png" alt="Loyalist 1" class="ui image" data-modal="android-modal-1" id="call-android-modal-1">
													</div>
													<div class="three wide computer eight wide tablet eight wide mobile column">
														<img src="/static/img/loyalist_app_2_small.png" alt="Loyalist 2" class="ui image" data-modal="android-modal-2" id="call-android-modal-2">
													</div>
													<div class="ten wide computer sixteen wide tablet sixteen wide mobile column">
														<img src="/static/img/loyalist_app_3_small.png" alt="Loyalist 3" class="ui image" data-modal="android-modal-3" id="call-android-modal-3">
													</div>
												</div>
											</div> <!-- End Imaged Row -->

											<!-- Divider -->
											<div class="row ui divider"></div>	

											<div class="vertical-padding">
												<!-- The descriptive content and quotes -->
												<!-- Text block under the images -->
												<div class="ui centered grid container">
													<!-- The description -->
													<div class="centered ten wide computer sixteen wide tablet sixteen wide mobile column">
														<p>
															I developed <b>Loyalist</b> starting in 2014 to de-clutter my wallet. I always forgot my loyalty cards and missed out on the points and rewards when getting a meal or going to the movies.
														</p>
														<p>
															The app now allows for multiple digital wallets, supports most major barcode types and allows for manual card entry for cards without barcodes. You can also save notes to each card and search your cards across all your wallets.
														</p>
														<p>
															The app is available on all Android phones version 4.0.3 and up. I also built a website for discovery and support of the app visit 
															<b><a href="http://www.getloyalist.com.au">getloyalist.com.au</a></b> for more info, or you can find it on the Google Play Store using the button below.
														</p>
														<a href="https://play.google.com/store/apps/details?id=com.danielcswain.loyalist&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-AC-global-none-all-co-pr-py-PartBadges-Oct1515-1">
															<img class="ui small image" alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/images/apps/en-play-badge-border.png" />
														</a>
														<span class="small-text">Android, Google Play and the Google Play logo are trademarks of Google Inc.</span>
													</div>
													<!-- Quotes -->
													<div class="centered six wide computer sixteen wide tablet sixteen wide mobile column">
														<div class="row">
															<h3 class="ui header">
																<div class="content">
																	"Scanned over a dozen cards, halved the size of my wallet. Works every time."
																</div>
																<div class="medium sub header">
																	Play Store Review
																</div>
															</h3>
														</div>
														<div class="vertical-padding">
															<div class="row">
																<h3 class="ui header">
																	<div class="content">
																		"Very easy to use. Great idea and now I won't have such a bulky wallet full of loyalty cards."
																	</div>
																	<div class="medium sub header">
																		Play Store Review
																	</div>
																</h3>
															</div>
														</div>
													</div> <!-- End Quote Block -->
												</div>
											</div> <!-- End Description Block -->
										</div><!-- End First Android App -->
									</div> <!-- End Android Tab Container -->
								</div> <!-- End Android Tab -->
								
								<!-- Enterprise tab -->
								<div class="ui tab" data-tab="forth" id="Enterprise">
									<!-- Enterprise Tab Container -->
									<div class="ui middle aligned stackable grid container">
										<!-- First Enterprise App -->
										<div>
											<!-- The Header row -->
											<div class="vertical-padding">
												<div class="ui grid container">
													<div class="ui clearing centered sixteen wide column">
														<h3 class="ui left floated header">
															<div class="content">
																Inspection Suite
																<div class="small sub header">A collection of VBA programs for Engineering Inspections</div>
															</div>
														</h3>
														<h3 class="ui right floated header">
															<div class="content">
																<div class="small sub header">2011 - 2016</div>
															</div>
														</h3>
													</div>
												</div>
											</div> <!-- End Header Row -->
											
											<!-- The Images row -->
											<div class="vertical-padding">
												<div class="ui grid container">
													<div class="four wide computer sixteen wide tablet sixteen wide mobile column">
														<img src="/static/img/inspection_suite_1_small.png" alt="Inspection Suite Report" class="ui image" data-modal="enterprise-modal-1" id="call-enterprise-modal-1">
													</div>
													<div class="six wide computer sixteen wide tablet sixteen wide mobile column">
														<img src="/static/img/inspection_suite_2_small.png" alt="Inspection Suite Capture" class="ui image" data-modal="enterprise-modal-2" id="call-enterprise-modal-2">
													</div>
													<div class="six wide computer sixteen wide tablet sixteen wide mobile column">
														<img src="/static/img/inspection_suite_3_small.png" alt="Inspection Suite Photo" class="ui image" data-modal="enterprise-modal-3" id="call-enterprise-modal-3">
													</div>
												</div>
											</div> <!-- End Images Row -->
											
											<!-- Divider -->
											<div class="row ui divider"></div>
											
											<div class="vertical-padding">
												<!-- The descriptive content and quotes -->
												<!-- Text block under the images -->
												<div class="ui centered grid container">
													<!-- The description -->
													<div class="centered ten wide computer sixteen wide tablet sixteen wide mobile column">
														<p>
															At <b>WSP &#124; Parsons Brinckerhoff</b> we completed various inspections for clients of their mining and production assets for compliance to standards and to identify defects requiring remediation.
														</p>
														<p>
															Initially inspections were completed by engineers using pen &amp; paper on-site, requiring costly clean-up work back in the office to produce reports. To reduce these costs I built a variety of applications in Excel using VBA that allow for the full site inspection to be captured digitally (including photos, condition ratings, remedial tasks, minutes of meeting, drawings).
														</p>
														<p>
															The applications also generate pdf reports for the client at the conclusion of the inspection. Simplifying and automating the report generation further reduced costs associated with our inspections improving our likelihood of winning future work.
														</p>
													</div>
													<!-- Quotes -->
													<div class="centered six wide computer sixteen wide tablet sixteen wide mobile column">
														<div class="row">
															<h3 class="ui header">
																<div class="content">
																	"With this software I can inspect an asset in a fraction of the time and be able to produce a report for the client whilst still on site."
																</div>
																<div class="medium sub header">
																	Inspector Feedback
																</div>
															</h3>
														</div>
														<div class="vertical-padding">
															<div class="row">
																<h3 class="ui header">
																	<div class="content">
																		"On Budget, on time, scope delivered as per proposal to an excellent quality with an excellent safety performance!"
																	</div>
																	<div class="medium sub header">
																		Dampier Salt Client Feedback
																	</div>
																</h3>
															</div>
														</div>
													</div> <!-- End Qoutes Block -->
												</div>
											</div> <!-- End Description Block -->
										</div><!-- End First Enterprise App -->
									</div> <!-- End Enterprise Tab Container -->
								</div> <!-- End Enterprise Tab -->
							</div> <!-- End Tabs -->
						</div>	
					</div> <!-- End Portfolio Section -->	
				</section>
				
				<!-- Divider -->
				<div class="row ui divider"></div>	
				
				<section id="Contact">
					<!-- Contact section -->
					<div class="ui vertical-padding-top">
						<div class="vertical-padding">
							<div class="ui middle aligned stackable grid container">
								<h1 class="ui huge header centered row">
									<span class="middle aligned"><i class="fa fa-inbox"></i> Contact</span>
								</h1>
							</div>
						</div>
						<div class="vertical-padding">
							<div class="ui middle aligned stackable grid container">
								<div class="ui centered four wide column">
									<img src="/static/img/hero_image.png" alt="Daniel Swain" class="ui centered medium circular image">
								</div>
							</div>
						</div>
						<div class="vertical-padding">
							<div class="ui middle aligned stackable grid container">
								<div class="ui grid">
									<div class="centered eight wide computer fifteen wide tablet fifteen wide mobile column">
										<h3>
											Application Support
										</h3>
										<p>
											If you have any support questions about my apps please check the Frequently Asked Questions (FAQ) inside the app 
											as the question has probably already been covered.
										</p>
										<p>
											Otherwise, to help me quickly support you, please send an email with any supporting pictures/logs attached to 
											<b><a href="mailto:support@danielcswain.com?subject=Support">support@danielcswain.com</a></b>.								</p>
									</div>
									<div class="centered eight wide computer fifteen wide tablet fifteen wide mobile column">
										<h3>
											Enquiries
										</h3>
										<p>
											Do you have an idea for a website or app you would like to see released? 
										</p>
										<p>
											Or, if you want to chat about software, technology or programming in general, please get in touch with me at 
											<b><a href="mailto:enquiries@danielcswain.com?subject=Enquiry">enquiries@danielcswain.com</a></b>.
										</p>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</section>
				
				<!-- Footer Section -->
				<div class="ui inverted vertical footer segment">
					<div class="ui container">
						<div class="ui stackable inverted divided equal height stackable grid">
							<div class="row centered">
								<div class="ui horizontal list">
									<li class="item"><a href="https://www.facebook.com/daniel.c.swain"><i class="fa fa-facebook-square fa-2x"></i></a></li>
									<li class="item"><a href="https://www.google.com/+DanielSwainEngineer"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
									<li class="item"><a href="https://twitter.com/Swain_D"><i class="fa fa-twitter-square fa-2x"></i></a></li>
									<li class="item"><a href="https://instagram.com/ulternate/"><i class="fa fa-instagram fa-2x"></i></a></li>
									<li class="item"><a href="https://au.linkedin.com/in/danielcswain"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
									<li class="item"><a href="https://github.com/ulternate"><i class="fa fa-git-square fa-2x"></i></a></li>
								</div>
							</div>
							<div class="row centered">
								<div class="ui horizontal list">
									<li class="item"><p>&copy; 2016+ Daniel Swain</p></li>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- End Main Page Contents -->
		
		<!-- Hidden Menu and Modals that don't need to be rendered straight away. -->

		<!-- Following Menu -->
		<div class="ui inverted pointing top fixed hidden main menu" id="#top-menu">
			<div class="ui container">
				<a class="item" href="#">Home</a>
				<a class="active item" href="#Projects">Projects</a>
				<a class="item" href="#Contact">Contact</a>
			</div>
		</div> <!-- End Following Menu -->

		<!-- Start Ruby Modals -->
		<div id="modals-ruby">
			<!-- Ruby Modal 1 -->
			<div class="ui small united modal" id="ruby-modal-1">
				<div class="header">
					<div class="ui two column grid container centered">
						<div class="ui left floated column">SlackCAH Game Screen</div>
						<div class="ui right floated right aligned column">
							<i class="fa fa-times-circle" id="ruby-modal-1-close"></i>
						</div>
					</div>
				</div>
				<div class="image content">
					<div class="ui one column centered grid container">
						<div class="row">
							<img class="ui image" src="/static/img/slackCAH_game.png" alt="SlackCAH Game">
						</div>
						<div class="row">
							<div class="description">
								<p>See your current cards and question in your private channel.</p>
							</div>
						</div>													
					</div>
				</div>
				<div class="actions">
					<div class="ui grid container centered">
						<div class="sixteen wide column">
							<div class="ui left floated secondary button" id="ruby-modal-1-btn-close"> Close</div>
							<div class="ui right floated primary button" id="ruby-modal-1-btn-to-2"> Next</div>
						</div>
					</div>
				</div>
			</div> <!-- End Ruby Modal 1 -->

			<!-- Ruby Modal 2 -->
			<div class="ui small united modal" id="ruby-modal-2">
				<div class="header">
					<div class="ui two column grid container centered">
						<div class="ui left floated column">SlackCAH Commands</div>
						<div class="ui right floated right aligned column">
							<i class="fa fa-times-circle" id="ruby-modal-2-close"></i>
						</div>
					</div>
				</div>
				<div class="image content">
					<div class="ui one column centered grid container">
						<div class="row">
							<img class="ui image" src="/static/img/slackCAH_commands.png" alt="SlackCAH Commands">
						</div>
						<div class="row">
							<div class="description">
								<p>If you've forgotten the commands, just ask the bot.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="actions">
					<div class="ui grid container centered">
						<div class="sixteen wide column">
							<div class="ui left floated primary button" id="ruby-modal-2-btn-to-1"> Previous </div>
							<div class="ui right floated primary button" id="ruby-modal-2-btn-to-3"> Next</div>
						</div>
					</div>
				</div>
			</div> <!-- End Ruby Modal 2 -->

			<!-- Ruby Modal 3 -->
			<div class="ui united modal" id="ruby-modal-3">
				<div class="header">
					<div class="ui two column grid container centered">
						<div class="ui left floated column">SlackCAH ReadMe</div>
						<div class="ui right floated right aligned column">
							<i class="fa fa-times-circle" id="ruby-modal-3-close"></i>
						</div>
					</div>
				</div>
				<div class="image content">
					<div class="ui one column centered grid container">
						<div class="row">
							<img class="ui image" src="/static/img/slackCAH_readme.png" alt="SlackCAH ReadMe">
						</div>
						<div class="row">
							<div class="description">
								<p>I've created a configuration guide on my github to help others to set their own bot.</p>
							</div>
						</div>													
					</div>
				</div>
				<div class="actions">
					<div class="ui grid container centered">
						<div class="sixteen wide column">
							<div class="ui left floated primary button" id="ruby-modal-3-btn-to-2"> Previous </div>
							<div class="ui right floated secondary close button" id="ruby-modal-3-btn-close"> Close</div>
						</div>
					</div>
				</div>
			</div> <!-- End Ruby Modal 3 -->
		</div> <!-- End Ruby Modals -->
		
		<!-- Start Django Modals -->
		<div id="modals-django">
			<!-- django Modal 1 -->
			<div class="ui small united modal" id="django-modal-1">
				<div class="header">
					<div class="ui two column grid container centered">
						<div class="ui left floated column">KFL Main Page</div>
						<div class="ui right floated right aligned column">
							<i class="fa fa-times-circle" id="django-modal-1-close"></i>
						</div>
					</div>
				</div>
				<div class="image content">
					<div class="ui one column centered grid container">
						<div class="row">
							<img class="ui image" src="/static/img/kfl_main.png" alt="KFL Main Page">
						</div>
						<div class="row">
							<div class="description">
								<p>The new main page for the KFL website, all articles are dynamically added to the site.</p>
							</div>
						</div>													
					</div>
				</div>
				<div class="actions">
					<div class="ui grid container centered">
						<div class="sixteen wide column">
							<div class="ui left floated secondary button" id="django-modal-1-btn-close"> Close</div>
							<div class="ui right floated primary button" id="django-modal-1-btn-to-2"> Next</div>
						</div>
					</div>
				</div>
			</div> <!-- End django Modal 1 -->

			<!-- django Modal 2 -->
			<div class="ui small united modal" id="django-modal-2">
				<div class="header">
					<div class="ui two column grid container centered">
						<div class="ui left floated column">KFL Comments</div>
						<div class="ui right floated right aligned column">
							<i class="fa fa-times-circle" id="django-modal-2-close"></i>
						</div>
					</div>
				</div>
				<div class="image content">
					<div class="ui one column centered grid container">
						<div class="row">
							<img class="ui image" src="/static/img/kfl_comments.png" alt="KFL Comments">
						</div>
						<div class="row">
							<div class="description">
								<p>Comments were desired to enable trades and discusisons about the upcomming rounds.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="actions">
					<div class="ui grid container centered">
						<div class="sixteen wide column">
							<div class="ui left floated primary button" id="django-modal-2-btn-to-1"> Previous </div>
							<div class="ui right floated primary button" id="django-modal-2-btn-to-3"> Next</div>
						</div>
					</div>
				</div>
			</div> <!-- End django Modal 2 -->

			<!-- django Modal 3 -->
			<div class="ui united modal" id="django-modal-3">
				<div class="header">
					<div class="ui two column grid container centered">
						<div class="ui left floated column">KFL News</div>
						<div class="ui right floated right aligned column">
							<i class="fa fa-times-circle" id="django-modal-3-close"></i>
						</div>
					</div>
				</div>
				<div class="image content">
					<div class="ui one column centered grid container">
						<div class="row">
							<img class="ui image" src="/static/img/kfl_news.png" alt="KFL News">
						</div>
						<div class="row">
							<div class="description">
								<p>Previously the news/articles had to be manually added to the HTML, now this is done easily through an Admin console.</p>
							</div>
						</div>													
					</div>
				</div>
				<div class="actions">
					<div class="ui grid container centered">
						<div class="sixteen wide column">
							<div class="ui left floated primary button" id="django-modal-3-btn-to-2"> Previous </div>
							<div class="ui right floated secondary close button" id="django-modal-3-btn-close"> Close</div>
						</div>
					</div>
				</div>
			</div> <!-- End django Modal 3 -->
		</div>
		
		<!-- Start django2 Modals -->
		<div id="modals-django2">
			<!-- django2 Modal 1 -->
			<div class="ui small united modal" id="django2-modal-1">
				<div class="header">
					<div class="ui two column grid container centered">
						<div class="ui left floated column">Photo Slideshow</div>
						<div class="ui right floated right aligned column">
							<i class="fa fa-times-circle" id="django2-modal-1-close"></i>
						</div>
					</div>
				</div>
				<div class="image content">
					<div class="ui one column centered grid container">
						<div class="row">
							<img class="ui image" src="/static/img/stevencjones_modal.png" alt="Photo Slideshow">
						</div>
						<div class="row">
							<div class="description">
								<p>The client wanted images to be able to show as a full screen slideshow, which was achieved on computers and mobile devices.</p>
							</div>
						</div>													
					</div>
				</div>
				<div class="actions">
					<div class="ui grid container centered">
						<div class="sixteen wide column">
							<div class="ui left floated secondary button" id="django2-modal-1-btn-close"> Close</div>
							<div class="ui right floated primary button" id="django2-modal-1-btn-to-2"> Next</div>
						</div>
					</div>
				</div>
			</div> <!-- End django2 Modal 1 -->

			<!-- django2 Modal 2 -->
			<div class="ui small united modal" id="django2-modal-2">
				<div class="header">
					<div class="ui two column grid container centered">
						<div class="ui left floated column">The Main Page</div>
						<div class="ui right floated right aligned column">
							<i class="fa fa-times-circle" id="django2-modal-2-close"></i>
						</div>
					</div>
				</div>
				<div class="image content">
					<div class="ui one column centered grid container">
						<div class="row">
							<img class="ui image" src="/static/img/stevencjones_main.png" alt="Main Page">
						</div>
						<div class="row">
							<div class="description">
								<p>A simple main page was desired, directing viewers to the clients contact details and photo portfolio.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="actions">
					<div class="ui grid container centered">
						<div class="sixteen wide column">
							<div class="ui left floated primary button" id="django2-modal-2-btn-to-1"> Previous </div>
							<div class="ui right floated primary button" id="django2-modal-2-btn-to-3"> Next</div>
						</div>
					</div>
				</div>
			</div> <!-- End django2 Modal 2 -->

			<!-- django2 Modal 3 -->
			<div class="ui united modal" id="django2-modal-3">
				<div class="header">
					<div class="ui two column grid container centered">
						<div class="ui left floated column">Photo Page</div>
						<div class="ui right floated right aligned column">
							<i class="fa fa-times-circle" id="django2-modal-3-close"></i>
						</div>
					</div>
				</div>
				<div class="image content">
					<div class="ui one column centered grid container">
						<div class="row">
							<img class="ui image" src="/static/img/stevencjones_photos.png" alt="Photo Page">
						</div>
						<div class="row">
							<div class="description">
								<p>The photo page, small images are loaded, with larger resolution images loading only when entering the slideshow.</p>
							</div>
						</div>													
					</div>
				</div>
				<div class="actions">
					<div class="ui grid container centered">
						<div class="sixteen wide column">
							<div class="ui left floated primary button" id="django2-modal-3-btn-to-2"> Previous </div>
							<div class="ui right floated secondary close button" id="django2-modal-3-btn-close"> Close</div>
						</div>
					</div>
				</div>
			</div> <!-- End django2 Modal 3 -->
		</div> <!-- End Django2 modals -->

		<!-- Start Android Modals -->
		<div id="modals-android">
			<!-- Android Modal 1 -->
			<div class="ui small united modal" id="android-modal-1">
				<div class="header">
					<div class="ui two column grid container centered">
						<div class="ui left floated column">Loyalist Main Screen</div>
						<div class="ui right floated right aligned column">
							<i class="fa fa-times-circle" id="android-modal-1-close"></i>
						</div>
					</div>
				</div>
				<div class="image content">
					<div class="ui one column centered grid container">
						<div class="row">
							<img class="ui image" src="/static/img/loyalist_app_1.png" alt="Loyalist Main Screen">
						</div>
						<div class="row">
							<div class="description">
								<p>Loyalist main screen showing multiple user added cards.</p>
							</div>
						</div>													
					</div>
				</div>
				<div class="actions">
					<div class="ui grid container centered">
						<div class="sixteen wide column">
							<div class="ui left floated secondary button" id="android-modal-1-btn-close"> Close</div>
							<div class="ui right floated primary button" id="android-modal-1-btn-to-2"> Next</div>
						</div>
					</div>
				</div>
			</div> <!-- End Android Modal 1 -->

			<!-- Android Modal 2 -->
			<div class="ui small united modal" id="android-modal-2">
				<div class="header">
					<div class="ui two column grid container centered">
						<div class="ui left floated column">Loyalist Card Screen</div>
						<div class="ui right floated right aligned column">
							<i class="fa fa-times-circle" id="android-modal-2-close"></i>
						</div>
					</div>
				</div>
				<div class="image content">
					<div class="ui one column centered grid container">
						<div class="row">
							<img class="ui image" src="/static/img/loyalist_app_2.png" alt="Loyalist Main Screen">
						</div>
						<div class="row">
							<div class="description">
								<p>Card barcode, barcode number and custom notes are always available to the user.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="actions">
					<div class="ui grid container centered">
						<div class="sixteen wide column">
							<div class="ui left floated primary button" id="android-modal-2-btn-to-1"> Previous </div>
							<div class="ui right floated primary button" id="android-modal-2-btn-to-3"> Next</div>
						</div>
					</div>
				</div>
			</div> <!-- End Android Modal 2 -->

			<!-- Android Modal 3 -->
			<div class="ui united modal" id="android-modal-3">
				<div class="header">
					<div class="ui two column grid container centered">
						<div class="ui left floated column">Loyalist Website</div>
						<div class="ui right floated right aligned column">
							<i class="fa fa-times-circle" id="android-modal-3-close"></i>
						</div>
					</div>
				</div>
				<div class="image content">
					<div class="ui one column centered grid container">
						<div class="row">
							<img class="ui image" src="/static/img/loyalist_app_3.png" alt="Loyalist Main Screen">
						</div>
						<div class="row">
							<div class="description">
								<p>The website provides details for the app and has the latest FAQ, Privacy Policy and Terms and Conditions.</p>
							</div>
						</div>													
					</div>
				</div>
				<div class="actions">
					<div class="ui grid container centered">
						<div class="sixteen wide column">
							<div class="ui left floated primary button" id="android-modal-3-btn-to-2"> Previous </div>
							<div class="ui right floated secondary close button" id="android-modal-3-btn-close"> Close</div>
						</div>
					</div>
				</div>
			</div> <!-- End Android Modal 3 -->
		</div> <!-- End Android Modals -->
		
		<!-- Start enterprise modals -->
		<div id="modals-enterprise">
			<!-- enterprise Modal 1 -->
			<div class="ui small united modal" id="enterprise-modal-1">
				<div class="header">
					<div class="ui two column grid container centered">
						<div class="ui left floated column">Generated Report</div>
						<div class="ui right floated right aligned column">
							<i class="fa fa-times-circle" id="enterprise-modal-1-close"></i>
						</div>
					</div>
				</div>
				<div class="image content">
					<div class="ui one column centered grid container">
						<div class="row">
							<img class="ui image" src="/static/img/inspection_suite_1.png" alt="Inspection Report">
						</div>
						<div class="row">
							<div class="description">
								<p>An example of a PDF report generated from the inspection software.</p>
							</div>
						</div>													
					</div>
				</div>
				<div class="actions">
					<div class="ui grid container centered">
						<div class="sixteen wide column">
							<div class="ui left floated secondary button" id="enterprise-modal-1-btn-close"> Close</div>
							<div class="ui right floated primary button" id="enterprise-modal-1-btn-to-2"> Next</div>
						</div>
					</div>
				</div>
			</div> <!-- End enterprise Modal 1 -->

			<!-- enterprise Modal 2 -->
			<div class="ui small united modal" id="enterprise-modal-2">
				<div class="header">
					<div class="ui two column grid container centered">
						<div class="ui left floated column">Data Entry</div>
						<div class="ui right floated right aligned column">
							<i class="fa fa-times-circle" id="enterprise-modal-2-close"></i>
						</div>
					</div>
				</div>
				<div class="image content">
					<div class="ui one column centered grid container">
						<div class="row">
							<img class="ui image" src="/static/img/inspection_suite_2.png" alt="Inspection Capture">
						</div>
						<div class="row">
							<div class="description">
								<p>Data entry, GPS and image capture on-site using robust Tablet PCs</p>
							</div>
						</div>
					</div>
				</div>
				<div class="actions">
					<div class="ui grid container centered">
						<div class="sixteen wide column">
							<div class="ui left floated primary button" id="enterprise-modal-2-btn-to-1"> Previous </div>
							<div class="ui right floated primary button" id="enterprise-modal-2-btn-to-3"> Next</div>
						</div>
					</div>
				</div>
			</div> <!-- End enterprise Modal 2 -->

			<!-- enterprise Modal 3 -->
			<div class="ui united modal" id="enterprise-modal-3">
				<div class="header">
					<div class="ui two column grid container centered">
						<div class="ui left floated column">Image Capture</div>
						<div class="ui right floated right aligned column">
							<i class="fa fa-times-circle" id="enterprise-modal-3-close"></i>
						</div>
					</div>
				</div>
				<div class="image content">
					<div class="ui one column centered grid container">
						<div class="row">
							<img class="ui image" src="/static/img/inspection_suite_3.png" alt="Inspection Photo">
						</div>
						<div class="row">
							<div class="description">
								<p>Capturing images to highlight findings in detail for clients</p>
							</div>
						</div>													
					</div>
				</div>
				<div class="actions">
					<div class="ui grid container centered">
						<div class="sixteen wide column">
							<div class="ui left floated primary button" id="enterprise-modal-3-btn-to-2"> Previous </div>
							<div class="ui right floated secondary close button" id="enterprise-modal-3-btn-close"> Close</div>
						</div>
					</div>
				</div>
			</div> <!-- enterprise Ruby Modal 3 -->
		</div> <!-- End enterprise modals -->


		<!-- Scripts at bottom to help load page faster -->
		<script language="javascript" src="http://code.jquery.com/jquery.min.js"></script>
		<script src="/static/js/semantic.min.js"></script>
		<script>
			// Aditional functions to load when page has loaded
			$(document).ready(function() {
				// fix menu when passed, plus show the too top button
				$('.masthead')
					.visibility({once: false,
						onBottomPassed: function() {
							$('.fixed.menu').transition('fade in');
							$('.ui.sticky').transition('fade in');
						},
						onBottomPassedReverse: function() {
							$('.fixed.menu').transition('fade out');
							$('.ui.sticky').transition('fade out');
						}
					}
				);
				// create sidebar and attach to menu open
				$('.ui.sidebar').sidebar('attach events', '.toc.item');
				// handle event when the sidebar menu items are clicked, hide the sidebar.
				$('.ui.sidebar').sidebar('attach events', '.sidebar.menu .item');
				// Handle tabbed menu clicks
				$('.tabular.menu .item').tab();
				// To Top Button
				$('.ui.sticky')
					.sticky({
						offset: 50,
						context: '#main-content'
					}
				);
				// Variables for Menu state changes on scroll/clicks
				var my_sections = $('section'),
					my_floating_navs = $('.fixed.menu .item'),
					my_main_navs = $('.hideable.menu .item'),
					floating_nav_height = my_floating_navs.outerHeight(),
					masthead_height = $('.masthead').outerHeight();
				// Handle menu clicks, changing the active state on the floating and main menu's
				$('.main.menu .item').click(function(){
					var clicked_href = $(this).attr('href');
					my_floating_navs.each(function(){
						if ($(this).attr('href') == clicked_href) {
							$(this).addClass('active').siblings().removeClass('active');
						}
					});
					my_main_navs.each(function(){
						if ($(this).attr('href') == clicked_href) {
							$(this).addClass('active').siblings().removeClass('active');
						}
					});
				});
				// Change floating menu active state when scrolled into the appropriate section.
				$(window).on('scroll', function() {
					var cur_pos = $(this).scrollTop();
					// Perform check in each section
					my_sections.each(function(){
						// Get section dimensions and id
						var section_id = "#" + $(this).attr('id'),
							section_top = $(this).offset().top - 50,
							section_bottom = section_top + $(this).outerHeight();
						// Add the active class if the section has scrolled into view.
						if (cur_pos >= section_top && cur_pos <= section_bottom) {
							my_floating_navs.each(function(){
								if ($(this).attr('href') == section_id){
									$(this).addClass('active').siblings().removeClass('active');
								}
							});
							my_main_navs.each(function(){
								if ($(this).attr('href') == section_id){
									$(this).addClass('active').siblings().removeClass('active');
								}
							});
						} else if (cur_pos <= masthead_height) {
							// Change the active class when the masthead has come into view, hiding the floating menu.
							my_floating_navs.each(function(){
								if($(this).attr('href') == "#"){
									$(this).addClass('active').siblings().removeClass('active');
								}
							});
							my_main_navs.each(function(){
								if($(this).attr('href') == "#"){
									$(this).addClass('active').siblings().removeClass('active');
								}
							});
						}
					});
				});
				// Only allow modals on computers i.e. if the userAgent is one of the following then don't bind our modal actions.
				if( !(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) ) {
					// Handle modal actions
					$('.united.modal').modal({
						blurring: true,
						// this parameter will enable/disable the closing for the previous .united modals when the next will be opened :)
						allowMultiple: false,
					});
					// Set actions for all modal buttons
					for (var i = 1; i < 4; i++) {
						// Helper variables
						var android = '#android-modal-',
							ruby = '#ruby-modal-',
							django = '#django-modal-',
							django2 = '#django2-modal-',
							enterprise = '#enterprise-modal-',
							call_android = '#call-android-modal-',
							call_ruby = '#call-ruby-modal-',
							call_django = '#call-django-modal-',
							call_django2 = '#call-django2-modal-',
							call_enterprise = '#call-enterprise-modal-';
						// Initial Calls for all the modals and modal close icons
						$(android + i).modal('attach events', call_android + i );
						$(ruby + i).modal('attach events', call_ruby + i );
						$(django + i).modal('attach events', call_django + i );
						$(django2 + i).modal('attach events', call_django2 + i );
						$(enterprise + i).modal('attach events', call_enterprise + i );
						$(android + i).modal('attach events', android + i + '-close', 'hide all');
						$(ruby + i).modal('attach events', ruby + i + '-close', 'hide all');
						$(django + i).modal('attach events', django + i + '-close', 'hide all');
						$(django2 + i).modal('attach events', django2 + i + '-close', 'hide all');
						$(enterprise + i).modal('attach events', enterprise + i + '-close', 'hide all');
						// Clicks between modals and modal close buttons for modals 1 and 3
						if (i == 1){
							$(android + i).modal('attach events', android + (i + 1) + '-btn-to-' + i);
							$(android + i).modal('attach events', android + i + '-btn-close', 'hide all');
							$(ruby + i).modal('attach events', ruby + (i + 1) + '-btn-to-' + i);
							$(ruby + i).modal('attach events', ruby + i + '-btn-close', 'hide all');
							$(django + i).modal('attach events', django + (i + 1) + '-btn-to-' + i);
							$(django + i).modal('attach events', django + i + '-btn-close', 'hide all');
							$(django2 + i).modal('attach events', django2 + (i + 1) + '-btn-to-' + i);
							$(django2 + i).modal('attach events', django2 + i + '-btn-close', 'hide all');
							$(enterprise + i).modal('attach events', enterprise + (i + 1) + '-btn-to-' + i);
							$(enterprise + i).modal('attach events', enterprise + i + '-btn-close', 'hide all');
						} else if (i == 2){
							$(android + i).modal('attach events', android + (i - 1) + '-btn-to-' + i);
							$(android + i).modal('attach events', android + (i + 1) + '-btn-to-' + i);
							$(ruby + i).modal('attach events', ruby + (i - 1) + '-btn-to-' + i);
							$(ruby + i).modal('attach events', ruby + (i + 1) + '-btn-to-' + i);
							$(django + i).modal('attach events', django + (i - 1) + '-btn-to-' + i);
							$(django + i).modal('attach events', django + (i + 1) + '-btn-to-' + i);
							$(django2 + i).modal('attach events', django2 + (i - 1) + '-btn-to-' + i);
							$(django2 + i).modal('attach events', django2 + (i + 1) + '-btn-to-' + i);
							$(enterprise + i).modal('attach events', enterprise + (i - 1) + '-btn-to-' + i);
							$(enterprise + i).modal('attach events', enterprise + (i + 1) + '-btn-to-' + i);
						} else if (i == 3){
							$(android + i).modal('attach events', android + (i - 1) + '-btn-to-' + i);
							$(android + i).modal('attach events', android + i + '-btn-close', 'hide all');
							$(ruby + i).modal('attach events', ruby + (i - 1) + '-btn-to-' + i);
							$(ruby + i).modal('attach events', ruby + i + '-btn-close', 'hide all');
							$(django + i).modal('attach events', django + (i - 1) + '-btn-to-' + i);
							$(django + i).modal('attach events', django + i + '-btn-close', 'hide all');
							$(django2 + i).modal('attach events', django2 + (i - 1) + '-btn-to-' + i);
							$(django2 + i).modal('attach events', django2 + i + '-btn-close', 'hide all');
							$(enterprise + i).modal('attach events', enterprise + (i - 1) + '-btn-to-' + i);
							$(enterprise + i).modal('attach events', enterprise + i + '-btn-close', 'hide all');
						}
					}
				}
				
			});
		</script>

		<!-- JSON-LD markup generated by Google Structured Data Markup Helper. -->
		<script type="application/ld+json">
		{
			"@context" : "http://schema.org",
			"@type" : "SoftwareApplication",
			"name" : "Loyalist",
			"image" : "http://danielcswain.com/static/img/loyalist_app_1_small.png",
			"url" : "https://play.google.com/store/apps/details?id=com.danielcswain.loyalist",
			"author" : {
		  		"@type" : "Person",
				"name" : "Daniel Swain"
			},
			"datePublished" : "2016-03-11",
			"publisher" : {
				"@type" : "Organization",
				"name" : "Google Play"
			},
			"applicationCategory" : "meal",
			"operatingSystem" : "Android",
			"aggregateRating" : {
				"@type" : "AggregateRating",
				"ratingValue" : "4.5",
				"bestRating" : "5",
				"worstRating" : "3",
			"ratingCount" : "6"
			}
		}
		</script>
	</body>
</html>